@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Inter:wght@300;400&display=swap');
@import "tailwindcss";

:root {
  --font-serif: 'Cormorant Garamond', serif;
  --font-sans: 'Inter', sans-serif;
  --accent: #c8a96e;
  --black: #0d0d0d;
  --white: #f5f4f0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-sans);
  font-weight: 300;
  overflow-x: hidden;
}

.font-serif {
  font-family: var(--font-serif);
}
